.content{
    width: 100%;
    min-height: 600px;
    padding-top: 100px;
    @media only screen and (max-width: 480px) {
        padding-top: 200px;
    }

    .inside {
    width: 100%;

        background: #fff;
        min-height: 100%;

        @media only screen and (max-width: 480px) {
            padding: 0 0;
        }
    }
}

